@import "tailwindcss";

@theme {
  --color-primary: #F97316;
  --color-secondary: #0F172A;
  --color-light-bg: #F8FAFC;
}

html, body {
  overflow-x: hidden;
  width: 100%;
  position: relative;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: var(--color-light-bg);
  -webkit-overflow-scrolling: touch;
}